lib/wsdl/ConsultaOrgAprob_OB_SY_ayc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:p2="http://ayto.es/sapr3/expedientesplyca/Consultas" xmlns:p1="http://ayto.es/sapr3/expedientesplyca" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ConsultaOrgAprob_OB_SY" targetNamespace="http://ayto.es/sapr3/expedientesplyca">
	<wsdl:documentation/>
	<wsdl:types>
		<xsd:schema targetNamespace="http://ayto.es/sapr3/expedientesplyca" xmlns="http://ayto.es/sapr3/expedientesplyca" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="MT_ConsultaGeneral" type="DT_ConsultaGeneral"/>
			<xsd:complexType name="DT_ConsultaGeneral">
				<xsd:annotation>
					<xsd:appinfo source="http://sap.com/xi/TextID">3368b560568a11df9b1f001018148994</xsd:appinfo>
					<xsd:documentation xml:lang="EN">DT_ConsultaSociedades</xsd:documentation>
					<xsd:appinfo source="http://sap.com/xi/VersionID">590ae581786411da892a000d604e5558</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element name="ConsultaGeneral" type="xsd:string">
						<xsd:annotation>
							<xsd:appinfo source="http://sap.com/xi/TextID">1f803c90569311da9e37d3610a5a191a</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://ayto.es/sapr3/expedientesplyca/Consultas" xmlns="http://ayto.es/sapr3/expedientesplyca/Consultas" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://gestion_gasto.servicios.www.nexusit.es">
			<xsd:import namespace="http://gestion_gasto.servicios.www.nexusit.es"/>
			<xsd:element name="cnslt_organos_aprobReturn" type="MT_TipoOrganoAprobacionResponse"/>
			<xsd:complexType name="MT_TipoOrganoAprobacionResponse">
				<xsd:sequence>
					<xsd:element name="tiposOrganosAprob" type="tns2:DT_TipoOrganoAprobacion" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema targetNamespace="http://gestion_gasto.servicios.www.nexusit.es" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://gestion_gasto.servicios.www.nexusit.es">
			<xsd:complexType name="DT_TipoOrganoAprobacion">
				<xsd:sequence>
					<xsd:element name="descripcion" type="xsd:string" nillable="true"/>
					<xsd:element name="id_organo_aprobacion" type="xsd:string" nillable="true"/>
					<xsd:element name="fecha_validez" type="xsd:date" nillable="true"/>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="MT_ConsultaGeneral">
		<wsdl:documentation/>
		<wsdl:part name="MT_ConsultaGeneral" element="p1:MT_ConsultaGeneral"/>
	</wsdl:message>
	<wsdl:message name="p2.cnslt_organos_aprobResponse">
		<wsdl:documentation/>
		<wsdl:part name="cnslt_organos_aprobReturn" type="p2:MT_TipoOrganoAprobacionResponse"/>
	</wsdl:message>
	<wsdl:portType name="ConsultaOrgAprob_OB_SY">
		<wsdl:documentation/>
		<wsdl:operation name="ConsultaOrgAprob_OB_SY">
			<wsdl:documentation/>
			<wsp:Policy>
				<wsp:PolicyReference URI="#OP_ConsultaOrgAprob_OB_SY"/>
			</wsp:Policy>
			<wsdl:input message="p1:MT_ConsultaGeneral"/>
			<wsdl:output message="p1:p2.cnslt_organos_aprobResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ConsultaOrgAprob_OB_SYBinding" type="p1:ConsultaOrgAprob_OB_SY">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		<wsdl:operation name="ConsultaOrgAprob_OB_SY">
			<soap:operation soapAction="http://sap.com/xi/WebService/soap1.1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			<wsdl:input>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ConsultaOrgAprob_OB_SYService">
		<wsdl:port name="ConsultaOrgAprob_OB_SYPort" binding="p1:ConsultaOrgAprob_OB_SYBinding">
			<soap:address location="http://sapdxi:50100/sap/xi/engine?type=entry&amp;version=3.0&amp;Sender.Service=BS_PLYCA_P&amp;Interface=http%3A%2F%2Fayto.es%2Fsapr3%2Fexpedientesplyca%5EConsultaOrgAprob_OB_SY" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"/>
		</wsdl:port>
	</wsdl:service>
	<wsp:UsingPolicy wsdl:required="true"/>
	<wsp:Policy wsu:Id="OP_ConsultaOrgAprob_OB_SY"/>
</wsdl:definitions>
